.square{
    background: #fff;
    border: 1px solid #999;
    width:30px;
    height: 30px;
    
}



.block{
    background: #fff;
    border: 1px solid #000;
    width: 90px;
    height: 90px;
}

.sudoku-board{
    border: 2px solid #000;
    width: 276px;
    height: 276px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    
}

