.square{
    background: rgb(247, 247, 247);
    border: 1px solid #999;
    width: 50px;
    height: 50px;
    font-size: 25px;
    
}

.clicked{
    background:rgb(173, 141, 52);
}



.block{
    background: #fff;
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    display:flex;
    flex-wrap:wrap;
}

.sudoku-board{
    border: 2px solid #000;
    width: 456px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    
}

.game-buttons{
    margin:auto
}

.game-buttons .btn{
    color: black;
    
}

.sudoku{
    padding-top: 5rem;
    width: 456px;
    margin:auto;
}

